In [22]:
import pandas as pd

Write a function which returns a dataframe listing all the users, with the following columns:
* user_id
* loyalty_status
 * loyalty_status_txt
 * daily_date: date of ride day
 * nb_rides: number of completed rides made by the user for the given day
 * total_price: total ride price spent by the user for the given day

In [32]:
def dataframe_by_user_and_date():
    rides_dt = pd.read_csv("./raw_data/rides.csv", delimiter=",")
    users_dt = pd.read_csv("./raw_data/users.csv", delimiter=",")

    joined_df = pd.merge(rides_dt, users_dt, on=['user_id'])

    joined_df['daily_date'] = pd.to_datetime(rides_dt['quote_date']).dt.date
    joined_df.set_index(['user_id', 'daily_date'], inplace=True)
    
    by_user_and_date = joined_df.groupby(['user_id', 'daily_date'])
    joined_df['nb_rides'] = by_user_and_date['price_nominal'].count()
    joined_df['total_price'] = by_user_and_date['price_nominal'].sum()
    
    return joined_df[['loyalty_status', 'loyalty_status_txt', 'nb_rides', 'total_price']]
    
    
dataframe_by_user_and_date().head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>loyalty_status</th>
      <th>loyalty_status_txt</th>
      <th>nb_rides</th>
      <th>total_price</th>
    </tr>
    <tr>
      <th>user_id</th>
      <th>daily_date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="4" valign="top">0457dec1ec689903dfc4bdd218eb7ce2</th>
      <th>2018-03-31</th>
      <td>3</td>
      <td>platinum</td>
      <td>1</td>
      <td>4.15</td>
    </tr>
    <tr>
      <th>2018-05-14</th>
      <td>3</td>
      <td>platinum</td>
      <td>1</td>
      <td>11.40</td>
    </tr>
    <tr>
      <th>2018-04-09</th>
      <td>3</td>
      <td>platinum</td>
      <td>1</td>
      <td>4.00</td>
    </tr>
    <tr>
      <th>2018-05-21</th>
      <td>3</td>
      <td>platinum</td>
      <td>1</td>
      <td>12.17</td>
    </tr>
    <tr>
      <th>d596ade95dbb9d89e9b17dc51cb80280</th>
      <th>2018-05-26</th>
      <td>2</td>
      <td>gold</td>
      <td>1</td>
      <td>6.75</td>
    </tr>
  </tbody>
</table>
</div>

Write a function which returns a dataframe listing the average basket per day. The average basket is the average completed ride price for a given period of time.

In [43]:
def average_basket_by_day():
    rides_dt = pd.read_csv("./raw_data/rides.csv", delimiter=",")
    rides_dt['daily_date'] = pd.to_datetime(rides_dt['quote_date']).dt.date
    completed_dt = rides_dt[rides_dt['state'].str.strip() == 'completed']
    completed_dt.set_index('daily_date', inplace=True)
    
    return completed_dt.groupby('daily_date')['price_nominal'].mean()

average_basket_by_day().head()

daily_date
2018-03-01    6.276262
2018-03-02    6.182083
2018-03-03    6.064492
2018-03-04    6.443470
2018-03-05    6.349550
Name: price_nominal, dtype: float64

Write a function which returns a dataframe listing the 5 days with the lowest number of completed rides, ordered chronologically.